.button {
  border: 0;
  font-size: var(--size-2);
  padding: var(--space-4);
  background-color: var(--background-button);
  border-radius: var(--radius-3);
  transition: color, background-color, 100ms ease-in-out;
}

.button-group {
  background-color: red;
}
