:root {
  color-scheme: light;
  --text: #000;
  --link: #010;

  --highlight: #007265;

  --background: #c5fff6;
  --background-button: #5fbf79;
}

:root.theme-dark {
  color-scheme: dark;
  --text: #c0c0c0;
  --link: #f1f;

  --highlight: #f2c2ff;

  --background: #312f2f;
  --background-button: #b582c3;
}
