---
import ThemeToggle from '../components/ThemeToggle.svelte';
import Parachute from '../components/Parachute.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>
  <body>
    <main>
      <h1>
        <Parachute client:visible />
        <span class="visually-hidden">Hello I'm Kyle Durand</span>
      </h1>
      <ThemeToggle client:visible />
    </main>
  </body>
</html>

<style>
  body {
    padding: 16px;
  }
</style>