---
import ThemeToggle from '../components/ThemeToggle.svelte';
import Parachute from '../components/Parachute.svelte';
import Index from '../layouts/Index.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>
  <body>
    <main>
      <Index>
        <h1>
          <a href="/">
            <Parachute client:visible />
            <span class="visually-hidden">Kyle Durand</span>
          </a>
        </h1>
        <ThemeToggle client:visible />
      </Index>
    </main>
  </body>
</html>
