---
import Metas from "../components/Metas.astro";
import Navigation from "../components/Navigation.astro";
import ThemeToggle from "../components/ThemeToggle.svelte";
import Background from "../components/Background.svelte";
---

<html lang="en">
  <Metas />
  <body>
    <nav>
      <Navigation />
    </nav>
    <main>
      <slot />
      <ThemeToggle client:visible />
    </main>
    <Background client:visible />
    <style>
      body {
        display: flex;
        gap: var(--space-4);
      }

      main {
        max-width: 60ch;
        margin: 0 auto;
      }

      nav {
        padding-top: 94px;
        max-width: 300px;
      }
    </style>
  </body>
</html>
