<nav>
  <ul>
    <li><a href="/kyledurand">Home</a></li>
    <li><a href="/kyledurand/about">About</a></li>
    <li><a href="/kyledurand/work">Work</a></li>
    <li><a href="/kyledurand/play">Play</a></li>
    <li><a href="/kyledurand/travels">Travels</a></li>
    <li><a href="/kyledurand/contact">Contact</a></li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: var(--space-2);
    list-style: none;
    padding: 0;
  }
</style>
