---
import Navigation from "../components/Navigation.astro";

const {
  content: {title},
} = Astro.props;

if (!title) throw new Error("Astro.props.title is undefined");
---

<main>
  <h1>{title}</h1>
  <slot />
  <Navigation />
</main>
