---
import Frame from "../components/Frame.astro";

const {
  content: {title},
} = Astro.props;

if (!title) throw new Error("Astro.props.title is undefined");
---

<Frame>
  <h1>{title}</h1>
  <slot />
</Frame>
